@import "variables";
main {
  margin: 0 auto;
  box-sizing: border-box;
  #carrusel {
    width: 100%;
    background-color: #fdbf72;
    padding: 3rem 0;
    .contenedor-carrusel {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      #texto-titulo {
        display: flex;
        flex-direction: column;
        font-family: $fuenteNormal;
        font-size: 2.2rem;
        h2 {
          font-family: $fuenteEspecial;
        }
        #imagen-descripcion {
          font-size: 1.3rem;
          display: flex;
          img {
            width: 100px;
            height: 100px;
            margin: 40px 40px 0 0;
          }
          #descripcion{
            margin-top: 20px;
            p{
                margin: 40px 0 0 60px;
            }
          }
        }
      }
    }
    img {
      width: 300px;
      height: 300px;
    }
  }
}
.contenido {
  max-width: 1300px;
  margin: 0 auto;
}
